# =========================================================
# ABN MULTICOMPANY SERVER
# =========================================================

NODE_ENV=development
HOST=0.0.0.0
PORT=5300
WS_PORT=5310

# =========================================================
# JWT AUTHENTICATION
# =========================================================

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=30d

# =========================================================
# WEBSITE
# =========================================================

DOMAIN=multicompany.abn.web.id
CLIENT_URL=https://multicompany.abn.web.id

# =========================================================
# SMTP
# =========================================================

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=

# =========================================================
# DATABASE
# =========================================================

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=abn_multicompany
DB_USER=root
DB_PASSWORD=

# =========================================================
# MIDTRANS
# =========================================================

CORE_SANDBOX_BASE_URL=https://api.sandbox.midtrans.com
CORE_PRODUCTION_BASE_URL=https://api.midtrans.com

SNAP_SANDBOX_BASE_URL=https://app.sandbox.midtrans.com/snap/v1
SNAP_PRODUCTION_BASE_URL=https://app.midtrans.com/snap/v1

IRIS_SANDBOX_BASE_URL=https://app.sandbox.midtrans.com/iris/api/v1
IRIS_PRODUCTION_BASE_URL=https://app.midtrans.com/iris/api/v1

MIDTRANS_ID=
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false

# =========================================================
# ODOO
# =========================================================

ODOO_ENABLED=true
ODOO_URL=https://agro-berkah-nusantara.odoo.com
ODOO_API_KEY=